/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  min-width: 940px;
  padding-top: 60px;
}
.jumbotron .inner {
  background: transparent url(../img/grid-18px.png) top center;
  padding: 45px 0;
  -webkit-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
     -moz-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
/*          box-shadow: inset 0 10px 30px rgba(0,0,0,.3);
*/}
.jumbotron h1,
.jumbotron p {
  margin-bottom: 9px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.jumbotron h1 {
  font-size: 54px;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.jumbotron p {
  font-weight: 300;
}
.jumbotron .lead {
  font-size: 20px;
  line-height: 27px;
}
.jumbotron p a {
  color: #fff;
  font-weight: bold;
}

/* Specific jumbotrons
------------------------- */
/* main docs page */
.masthead {
  background-color: #00CC33;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#006633), to(#00CC33));
  background-image: -webkit-linear-gradient(#006633, #00CC33);
  background-image: -moz-linear-gradient(#006633, #00CC33);
  background-image: -o-linear-gradient(top, #006633, #00CC33);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#006633), to(#00CC33));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006633', endColorstr='#00CC33', GradientType=0); /* IE8 and down */
}
/* supporting docs pages */
.subhead {
  background-color: #767d80;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#565d60), to(#767d80));
  background-image: -webkit-linear-gradient(#565d60, #767d80);
  background-image: -moz-linear-gradient(#565d60, #767d80);
  background-image: -o-linear-gradient(top, #565d60, #767d80);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#565d60), to(#767d80));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#565d60', endColorstr='#767d80', GradientType=0); /* IE8 and down */
}
.subhead .inner {
  padding: 36px 0 27px;
}
.subhead h1,
.subhead p {
  text-align: left;
}
.subhead h1 {
  font-size: 40px;
}
.subhead p a {
  font-weight: normal;
}

h1 small {
	color: rgb(191, 191, 191);	
}

.label.important {
	background-color: rgb(196, 60, 53);
}

a {
	color: #009933;
}

a:hover {
	color: #006633; /* Make it darker */
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #009933;
  text-decoration: none;
/*  background-color: #EBEBEB;*/
}

.navbar .nav > li > a:hover {
	color: #009933;
}

@media (max-width: 979px) {
.nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: #009933;
    color:#fff !important;
  }
}